body {
  margin: 0;
  box-sizing: border-box;
  background-color: #c4c4c4;
}

/* shared styles */
.display-flex {
  display: flex;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.home {
  color: #252432;
  font-size: 20px;
}
.shop-us {
  color: rgba(137, 135, 161, 1);
}

/* navigetion bar */
.nav-bar {
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  list-style: none;
  margin-right: 48px;
}

/* *******banner styles****** */
.banner {
  height: 461px;
  align-items: end;
}
.banner-left h2 {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 10px;
}
.color-yellwo {
  color: rgba(233, 90, 8, 1);
}
.banner-left p {
  color: rgba(0, 0, 0, 0.5);
}
/* ******our plants****** */

.plants-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.plants-tytle {
  font-weight: bold;
  font-size: 50px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 5px;
}

/* ********card******** */
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 20px;
}
.card {
  width: 270px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  align-self: stretch;
  flex-grow: 0;
}
.card img {
  width: 270px;
  height: 320px;
}
.image-name {
  font-size: 22px;
  font-weight: 500;
  color: rgba(17, 17, 17, 1);
  margin-bottom: 5px;
}
.image-price {
  font-size: 22px;
  font-weight: bold;
  color: rgba(17, 17, 17, 1);
  margin-top: 5px;
}
.btn {
  background-color: rgba(233, 90, 8, 1);
  padding: 26px 50px;
  color: white;
  width: 100%;
}

/* ******plants lover****** */
.plants-lover {
  height: 597px;
  margin-top: 200px;
}
.image-left img {
  width: 540px;
  height: 100%;
}
.content-right {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  gap: 20px;
  padding: 0;
  position: static;
  /* width: 580px; */
  max-height: 108px;
}
.lover {
  font-size: 50px;
  font-weight: bold;
  color: black;
}
.content-description {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}
/* ******deals******** */
.deals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
}
.deals-tytle {
  font-size: 50px;
  font-weight: bold;
}
.deals-description {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 1px;
}
/* *****challenge***** */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
}
.left-column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.promo-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  color: white;
  text-align: center;
  height: 150px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo-text {
  position: relative;
  z-index: 1;
}
.promo-text h2,
.promo-text p {
  margin: 0;
}
.promo-text h2 {
  font-weight: bold;
}
.promo-text a {
  color: white;
}
.promo-big-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  color: white;
  text-align: center;

  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo-big-card > .promo-text h2 {
  font-size: 40px;
}
.promo-big-card > .promo-text a {
  font-weight: 600;
  font-size: 28px;
}

/* *******subscribe section**** */
.subscribe-section {
  background-image: url(./assets/news-letter-bg.png);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 533px;
  width: 1440px ;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}
.subscribe-content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 1rem;
}
.subscribe-content h2 {
  font-size: 50px;
  font-weight: bold;
}

#email {
  width: 644px;
  height: 50px;
  padding: 8px 20px;
}
#subscribe {
  width: 186px;
  height: 66px;
  font-size: larger;
  color: white;
  background-color: rgba(233, 90, 8, 1);
  border: none;
  
}
