body {
  margin: 0;
  box-sizing: border-box;
  background-color: #c4c4c4;
}

/* shared styles */
.display-flex {
  display: flex;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.home {
  color: #252432;
  font-size: 20px;
}
.shop-us{
    color: rgba(137, 135, 161, 1);

}

/* navigetion bar */
.nav-bar {
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  list-style: none;
  margin-right: 48px;
}

/* *******banner styles****** */
.banner{
    height: 461px;
    align-items: end;

}
.banner-left h2{
    font-size:65px;
    font-weight:bold ;
    margin-bottom: 10px;
}
#fresh-flowers{
    color:rgba(233, 90, 8, 1.00);
}
.banner-left p{
    color: rgba(0, 0, 0, 0.5);
    fo22px
}